@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Bebas+Neue&family=Bitcount+Prop+Double:wght@100..900&family=Montserrat&display=swap');


* {
    margin: 0;
    padding: 0;
 }

body {
    /* height: 100vh; */
    box-sizing: border-box;
    /* background: linear-gradient(145deg, #0a192f, #122740); */
    color: #f6f6f6;
    background-color: #000000 ; 
 }

 .cabecalho {
    padding: 1% 0% 0% 15%;
    
 }

 .cabecalho-nav {
   display: flex;
   gap: 60px;
 }

 .Menu_link {
    font-family: 'korona one', sans-serif;
    font-weight: 400px;
    font-size: 24px;
    color: #00C2FF;
     text-decoration: none;
 }


 .apresentacao {
    padding: 7% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
 }

 .apresentacao-conteudo {
    width: 620px;
    display: flex;
    flex-direction: column;
    gap: 40px;

 }

 .apresentacao-conteudo-titulo {
    font-size: 36px;
    font-family: 'korona one', sans-serif;
    /* font-weight: 400px; */

 }

 .titulo-destaque {
    color: #00C2FF ;
    font-weight: bold;
    font-size: 48px;
    font-family: 'korona one', sans-serif;
    font-weight: 400px;
 }

 .apresentacao-conteudo-texto {
    font-size: 25px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
 }

.apresentacao-conteudo-botoes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
 }

 .Titulo-botoes {
   font-family: 'korona one', sans-serif;
   font-weight: 400px;
   font-size: 24px;
 }

 .botoes_link {
   display: flex;
   justify-content: center;
   gap: 5px;
   border: 3px solid #00C2FF;
   width: 378px;
   text-align: center;
   border-radius: 8px;
   font-size: 24px;
   font-weight: 600;
   padding: 21.5px 0;
   text-decoration: none; 
   color: #f6f6f6; /* cor do texto */
   font-family: "Montserrat", sans-serif;
  /* display: inline-block; garante que a borda apareça */
}

.botoes_link:hover {
   background-color: #272727; /* cor de fundo ao passar o mouse */
   transition: 0.3s;
 }

 .botoes_link img {
   width: 24px;
   height: 24px;
   margin-right: 10px;
 }

 .rodape {
    text-align: center;
    padding:  26px;
    color: #f6f6f6;
    background-color: #0a192f;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 400px;
 }
