@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Bebas+Neue&family=Bitcount+Prop+Double:wght@100..900&family=Montserrat&display=swap');

:root {
   --cor--primaria: #000000;
   --cor--secundaria: #f6f6f6;
   --cor--terciaria: #00c2ff;
   --cor--quartenaria: #272727; /*(fundo do botão)*/
   --cor--quintenaria: #0a192f; /*(houve)*/


   --fonte--primaria: 'Korona One', sans-serif;
   --fonte--secundaria: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
 }

body {
    /* height: 100vh; */
    box-sizing: border-box;
    /* background: linear-gradient(145deg, #0a192f, #122740); */
    color: var(--cor--secundaria);
    background-color: var(--cor--primaria); 
 }

 .cabecalho {
    padding: 1% 0% 0% 15%;
    
 }

 .cabecalho-nav {
   display: flex;
   gap: 60px;
 }

 .Menu_link {
    font-family: var(--fonte--primaria);
    font-weight: 400px;
    font-size: 24px;
    color: var(--cor--terciaria);
     text-decoration: none;
 }


 .apresentacao {
    padding: 7% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
 }

 .apresentacao-conteudo {
    width: 620px;
    display: flex;
    flex-direction: column;
    gap: 40px;

 }

 .apresentacao-conteudo-titulo {
    font-size: 36px;
    font-family: var(--fonte--primaria);
    /* font-weight: 400px; */

 }

 .titulo-destaque {
    color: var(--cor--terciaria);
    font-weight: bold;
    font-size: 48px;
    font-family: var(--fonte--primaria);
    font-weight: 400px;
 }

 .apresentacao-conteudo-texto {
    font-size: 25px;
    font-family: var(--fonte--secundaria);
    font-weight: 600;
 }

.apresentacao-conteudo-botoes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
 }

 .Titulo-botoes {
   font-family: var(--fonte--primaria);
   font-weight: 400px;
   font-size: 24px;
 }

 .botoes_link {
   display: flex;
   justify-content: center;
   gap: 5px;
   border: 3px solid var(--cor--terciaria); /* cor da borda */
   width: 378px;
   text-align: center;
   border-radius: 8px;
   font-size: 24px;
   font-weight: 600;
   padding: 21.5px 0;
   text-decoration: none; 
   color: var(--cor--secundaria); /* cor do texto */
   font-family: var(--fonte--secundaria);
  /* display: inline-block; garante que a borda apareça */
}

.botoes_link:hover {
   background-color: var(--cor--quartenaria); /* cor de fundo ao passar o mouse */
   transition: 0.3s;
 }

 .botoes_link img {
   width: 24px;
   height: 24px;
   margin-right: 10px;
 }

 .rodape {
    text-align: center;
    padding:  26px;
    color: var(--cor--secundaria);
    background-color: var(--cor--quintenaria);
    font-family: var(--fonte--secundaria);
    font-size: 20px;
    font-weight: 400px;
 }

 .pagina-about .apresentacao-conteudo-titulo {
  font-size: 42px;
  color: var(--cor--secundaria);
}

.pagina-about .apresentacao-conteudo-texto {
  font-size: 23px;
  color: var(--cor--secundaria);
  font-weight: 400;
  font-family: var(--fonte--primaria);
}

.pagina-about .titulo-destaque {
  font-size: 29px;
  color: var(--cor--terciaria);
}

